##** Jupyter Notebooks **##
*.DS_Store
*.ipynb_checkpoints


##** R Files **##
.Rproj.user
*.Rhistory

##** Other files **##
**Thumbs.db

### Potential Acquired Files
*.zip
*.db
*.shp
*.gdb
*.kml
*.dbf

